doctype
html
  head
    link(rel="stylesheet", href="/main.css")
    script(src="lib/underscore.js")
    script(src="lib/three.min.js")
    script(src="lib/convex-geometry.js")
    script(src="lib/canvas2image.js")
    script(src="data/languageData.js")
  body#generator-main
    != yield
    script(src="language.js")
    script(src="urlHandler.js")
    script(src="generator.js")
