input(type="text" id="generator-input")

a(href="#" id="generator-reset") Reset
a(href="#" id="render-sequence") Render Sequence
a(href="#" id="build-out") Build out
a(href="#" id="animate-sequence") Animate Sequence

div#fullscreen-container
  div#generator-main
  div#text-container.transparent Philipp Emanuel Sackl